.service-btn {
  background-color: rgb(0, 0, 0, 0.2);
  width: 100%;
  color: white;
  height: 45px;
  box-shadow: none !important;
}

.service-btn:hover {
  color: #66fcf1;
  background-color: rgb(0, 0, 0, 0.3);
}

.service-icon {
  margin-right: 10px;
}

.separator {
  width: 100%;
  color: white;
}

.auth-input {
  background: rgb(0, 0, 0, 0.2);
  height: 45px;
  border: none !important;
  color: white;
  box-shadow: none !important;
}

.auth-input:focus {
  background: rgb(0, 0, 0, 0.3);
  color: #66fcf1;
}

.input-info-text {
  color: rgb(255, 255, 255, 0.8);
}

.auth-btn {
  background: #66fcf1;
  height: 45px;
  width: 100%;
  font-size: 18px;
  box-shadow: none !important;
}

.auth-btn:hover {
  background: rgb(0, 0, 0, 0.3);
  color: #66fcf1;
}

.text {
  text-align: center;
  color: white;
}

.text-link {
  color: #66fcf1;
}

.text-link:hover {
  color: #45a29e;
}

.btn-theme {
  background-color: white !important;
  color: black !important;
  box-shadow: none !important;
  position: absolute;
  top: 10px;
  left: 10px;
}

.litu {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* Replace with your image URL */
  background-image: url('D:\REACT JS\C_M_S\public\AdobeStock_218599233.webp');
  background-size: cover;
  background-position: center;
  background-color: #201238;
  color:black;
}
.wrapper {
  background: #ffffff7b;
  max-width: 500px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  opacity: 1;
  margin-left: 55%;
  margin-bottom: 1%;
  height: 400px;
}
.form {
  padding: 25px 30px;
}
.con{
  background: #ffffff7b;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
    opacity: 1;
}
/* for Navbar */

/* Add the overlay with opacity */
.h-txt {
  max-width: 650px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.h-txt span {
  letter-spacing: 5px;
}

.h-txt h1 {
  font-size: 3.5em;
}

.h-txt a {
  text-decoration: none;
  background: rgb(87, 87, 145);
  color: white;
  padding: 10px 20px;
  letter-spacing: 5px;
  transition: 0.4s;
}

.h-txt a:hover {
  background: transparent;
  border: 1px solid indianred;
}